

- if user_signed_in?
  %h2 List of requests
  %ul#sepreq
    - @requestserv.each do |request|
      .seperatereq
      %li#sepreq
        %h2= link_to request.title, public_request_path(request)
        %div= request.description
        - if current_user && request.user.name == current_user.name
          %small= link_to " - You", account_path
        - else
          %small= request.user.name

- else
  please login to see the detailed requests

%big= link_to "back", root_url
