

%section

%p#notice= notice
%big= link_to "Create New Request", new_account_request_path
%h3
  = "Here are your Requests:"

%ul#sepreq
  - @requests.each do |request|
    .seperatereq
      %li#sepreq
        %h2= link_to request.title, public_request_path(request)
        %div= request.description
        %small= link_to "Edit", edit_account_request_path(request)
        %small= link_to "Delete", account_request_path(request), method: :delete, data: { confirm: "Are you sure?" }



