!!!5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShareIIT
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      - if user_signed_in?
        .wrapper
          .main
            %a#head{:href => root_url}
              %img{:alt => "", :src => "img/logo.png"}/
            %nav.nav
              %a#headalt{:href => root_url} shareIIT
              %ul.navlist
                %li.navitem
                  %a{:href => root_url} All Requests
                %li.navitem
                  %a{:href => account_path} My Requests
                %li.navitem
                  %a{:href => ""} extra

        / End NAV bar
        %p#logoutopt= link_to 'Log out', logout_path
        %h2
          Welcome,
          = link_to current_user.name, account_path, class: "linktouser"
      - else
        .wrapper
          .main
            %a#head{:href => root_url}
              %img{:alt => "", :src => "img/logo.png"}/
            %nav.nav
              %a#headalt{:href => root_url} shareIIT
              %ul.navlist
                %li.navitem
                  %a#abtus{:href => "#"} About Us
                %li.navitem
                  %a#howitworks{:href => "#"} How It Works
                %li.navitem
                  %a#signin{:href => "#"} Start Sharing
          #abtuscontent
            .indexcontent
              shareIIT is specially made for IIT students that want to help each other by sharing books, miscelleanous items (waffle maker, bike or a camera) etc. and performing services like pc/phone repairs, automobile repairs and tutoring services! This concept was designed after taking into account the requests made in IIT Undergraduate Students Facebook page and IIT Chicago Facebook page. The designers of this interface, Javier Silva, Steve Burnette and Neeraj Soparawala decided to pursue this idea as a class project initially. Over time they realized the need for this to be public, making it free for the IIT community.

          #howitworkscontent
            .indexcontent
              Simplicity was the key factor being considered while designing the interface! After clicking the ‘login with your hawk email’, our interface takes care of getting all your details from google! ‘my requests’ tab will display all your requests along with giving you an option to create a new request. Currently we have three request types; Service, Book and Misc. Choose the service request type if you need something repaired or need help with a class (tutoring). If need a book for tomorrow’s exam/homework, you can select the Book request type! Similarly, select Miscellaneous for all other requests (bikes, cars, waffle makers, coffee machines, Ethernet cables, etc.)!
          #signincontent
            .loginstyle
              %td
                .h2style
                  %h2= link_to 'Log In with Google', login_path(provider: 'google_oauth2')
        %p#noticewhite= notice



      %div#main
      = yield
      %footer#footermargin
      %small Site content and design by shareIIT. All rights reserved.
